@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800.900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Source+Sans+Pro:ital,wght@1,300&family=The+Nautigal:wght@700&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=The+Nautigal:wght@700&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dancing+Script&family=Fira+Sans:ital,wght@0,200;0,400;1,200;1,300&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,300&display=swap');


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}
.logo{
  position: relative;
  color:rgb(108, 34, 177);
  text-decoration: none;
  font-weight: 700;
  font-family: 'Dancing Script', cursive;
}
.navbar{
  font-size: 16px;
  top: 0;
  left: 0;
}

.navbar-light .navbar-nav .nav-link{
  padding: 0 20px;
  color: rgb(0, 0, 0);
  transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{
  color:rgb(108, 34, 177);
}
.navbar i{
  font-size: 1.2rem;
  padding: 0 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}
.navbar-light .navbar-toggler{
  border: none;
  outline: none;
}
#bar{
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  font-weight: 500;
  color: black;
  transition: 0.3s ease;
}
#bar:hover,
#bar.active{
  color:rgb(252, 252, 252);
}

 @media only screen and (max-width: 991px){
  body > nav > div > button:hover,
  body > nav > div > button:focus{
      background-color: blueviolet;
    }
    body>nav>div>button:hover #bar,
    body>nav>div>button:focus #bar{
     color: aliceblue;
    }
    #navbarSupportedContent > ul {
      margin: 1rem;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
    }
  
   #navbarSupportedContent>ul>li:nth-child(n)>a{
     padding: 10px 0;
   }

 }
 .section{
   width: 100%;
   min-height: 100vh;
   /* background-color: #ddd; */
 }
 .container{
   width: 80%;
   display: block;
   margin: auto;
   padding-top: 100px;
 }
.content-section{
  float: left;
  width: 55%;
}
.image-section{
  float: left;
  width: 40%;
}
.image-section img{
  width: 100%;
  height: auto;
}
.content-section .title{
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'Dancing Script', cursive;
  /* margin-bottom: 20px; */
  /* margin-top: 40px; */
  color:rgb(108, 34, 177);
  text-align: center;
  /* font-weight: 700; */

}

.content-section .content p{
  margin-top: 10px;
  font-family: Nunito;
  font-size: 18px;
  line-height: 1.5;
  margin-right: 20px;
}
.content-section .social{
  margin: 40px 40px;
}
.content-section .social i{
  color:rgb(108, 34, 177);
  font-size: 20px;
  padding: 0px 10px;
}
.content-section .social i:hover{
  color: #3d3d3d;
}
@media screen and (max-width:768px){
  .container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section{
    float: none;
    width: 100%;
  }
  .content-section img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .image-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .content-section .title{
    margin-top: 35px;
    text-align: center;
    font-size: 19px;
  }
  .content-section .social{
    text-align: center;
  }
}







