@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800.900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Source+Sans+Pro:ital,wght@1,300&family=The+Nautigal:wght@700&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=The+Nautigal:wght@700&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dancing+Script&family=Fira+Sans:ital,wght@0,200;0,400;1,200;1,300&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,300&display=swap');


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}
.logo{
  position: relative;
  color:rgb(108, 34, 177);
  text-decoration: none;
  font-weight: 700;
  font-family: 'Dancing Script', cursive;
}
.navbar{
  font-size: 16px;
  top: 0;
  left: 0;
}

.navbar-light .navbar-nav .nav-link{
  padding: 0 20px;
  color: rgb(0, 0, 0);
  transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{
  color:rgb(108, 34, 177);
}
.navbar i{
  font-size: 1.2rem;
  padding: 0 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}
.navbar-light .navbar-toggler{
  border: none;
  outline: none;
}
#bar{
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  font-weight: 500;
  color: black;
  transition: 0.3s ease;
}
#bar:hover,
#bar.active{
  color:rgb(252, 252, 252);
}

 @media only screen and (max-width: 991px){
  body > nav > div > button:hover,
  body > nav > div > button:focus{
      background-color: blueviolet;
    }
    body>nav>div>button:hover #bar,
    body>nav>div>button:focus #bar{
     color: aliceblue;
    }
    #navbarSupportedContent > ul {
      margin: 1rem;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
    }
  
   #navbarSupportedContent>ul>li:nth-child(n)>a{
     padding: 10px 0;
   }

 }
 
 *, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(to right, #573b8a 0%, #eb466b 100%);
  /* font-size: 12px; */
}

body, button, input {
  /* font-family: 'Montserrat', sans-serif;
  font-weight: 700; */
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.maximize {
  background: #888813;
}

.screen-header-button.minimize {
  background: #3c6528;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 10px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
