@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800.900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=The+Nautigal:wght@700&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dancing+Script&family=Fira+Sans:ital,wght@0,200;0,400;1,200;1,300&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Poppins:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.error {
    color: #d20303;
}
.logo {
    position: relative;
    color: rgb(108, 34, 177);
    text-decoration: none;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
}

.navbar {
    font-size: 16px;
    top: 0;
    left: 0;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0 20px;
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active {
    color: rgb(108, 34, 177);
}

.navbar i {
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

.navbar-light .navbar-toggler {
    border: none;
    outline: none;
}

#bar {
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    color: black;
    transition: 0.3s ease;
}

#bar:hover,
#bar.active {
    color: rgb(252, 252, 252);
}

@media only screen and (max-width: 991px) {
    body > nav > div > button:hover,
    body > nav > div > button:focus {
        background-color: blueviolet;
    }

    body > nav > div > button:hover #bar,
    body > nav > div > button:focus #bar {
        color: aliceblue;
    }

    #navbarSupportedContent > ul {
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > a {
        padding: 10px 0;
    }

}


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #393468, #272357, #24243e);
}

.main {
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {
    width: 60%;
    height: 30px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

/*.error {*/
/*    padding: 20px;*/
/*    background-color: #bb1106;*/
/*    color: white;*/

/*}*/
/*.error:hover{*/
/*    background-color: #936562;*/

/*}*/

.has-error{
    color: white;
    font-weight: 700;
    /*padding-left: 10px;*/
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

button:hover {
    background: #6d44b8;
}

.login {
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.login label {
    color: #573b8a;
    transform: scale(.6);
}

.random p {
    text-decoration: none;
    color: white;
    /* padding-left: 20px; */
    text-align: center;

}

#chk:checked ~ .login {
    transform: translateY(-500px);
}

#chk:checked ~ .login label {
    transform: scale(1);
}

#chk:checked ~ .signup label {
    transform: scale(.6);
}

