<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>About</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/about.css}"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fixed-top">
        <div class="container-fluid">
            <h2 class="logo">crépuscule</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><i id="bar" class="fas fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/women}">Women</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/men}">Men</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" th:href="@{/accessories}">Accessories</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}">Contact Us</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Account</a>
                      </li>
                    <li class="nav-item">
                        <i class="fal fa-search"></i>
                        <i class="fal fa-shopping-bag"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
<!--                <h1>Welcome</h1>-->
                <h1 th:text="${parametr.getTitle()}" />
            </div>
            <div class="content">
                    <p th:text="${parametr.getText()}" />
            </div>
            <div class="social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"> </i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="image-section">
            <img th:src="@{/img/log5.jpg}">

        </div>
    </div>
</div>
</body>
</html>