<!DOCTYPE html>
<html>

<head>
    <title>About</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fixed-top">
        <div class="container-fluid">
            <h2 class="logo">crépuscule</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><i id="bar" class="fas fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5502/MyPage.html">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5502/women.html">Women</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5502/men.html">Men</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5502/accessories.html">Accessories</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5502/logIn.html">Account</a>
                      </li>
                    <li class="nav-item">
                        <i class="fal fa-search"></i>
                        <i class="fal fa-shopping-bag"></i>
                    </li>


            </div>
        </div>
    </nav>


<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>Welcome</h1>
            </div>
            <div class="content">
                <!-- <h3>Lorem Ipsum is simply dummy text of the printing </h3>  -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Phasellus accumsan eget odio a rhoncus. Quisque bibendum ac nulla at varius.
                     Proin et mauris tempus, cursus tellus vel, maximus odio. 
                     Mauris dignissim lorem at enim finibus pharetra. 
                     Suspendisse vulputate at lectus eu accumsan. Vivamus varius semper sem. 
                     Etiam sodales vitae nisl vel euismod. Ut faucibus mauris pellentesque faucibus vestibulum. 
                     Praesent dignissim augue non purus cursus, blandit tempor felis dictum. Aliquam condimentum, 
                     leo vitae hendrerit fringilla, lacus sem mollis leo, eget consectetur orci eros quis lacus. 
                     Donec quis elit at diam eleifend consequat. Sed vestibulum scelerisque eros. Proin vitae blandit erat. 
                     Integer dictum bibendum velit, vehicula laoreet tellus sodales eu. Suspendisse tristique metus erat, in consequat tellus volutpat vitae. 
                     Mauris eu viverra turpis.Sed at nunc mi. Sed finibus, lectus ac lobortis finibus, 
                     libero purus euismod purus, et tincidunt est sem et felis. Mauris ligula dolor, 
                     faucibus vel nibh non, pharetra rutrum odio. Quisque eu suscipit purus. 
                   </p>
                   <!-- <div class="button">
                       <a href="">Read More</a>
                   </div> -->
            </div>
            <div class="social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"> </i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="image-section">
            <img src="MyPage.images/log5.jpg">
        </div>
    </div>
</div>



</body>

</html>