<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
</head>

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    h3 {
        text-align: center;
    }
</style>

<body>
<img class="center" th:src="@{/img/accsessDenied2.jpg}">
<!--<h2 style="text-align: center">Access Denied</h2>-->
<!--<h2 style="color: #0f0700; text-align: center" >Access Denied!</h2>-->
<h3>This page is not for users</h3>
</body>
</html>