<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>My Website</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/cart.css}" rel="stylesheet" type="text/css"/>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <!-- <script src="javascript/mypage.js"></script> -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" href="MyPage.images/logo.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>
<!-- //navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fixed-top">
    <div class="container-fluid">
        <h2 class="logo">crépuscule</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="  false" aria-label="Toggle navigation">
            <span><i id="bar" class="fas fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:classappend="${module == 'women' ? 'active' : ''}">
                    <a class="nav-link " th:href="@{/women}">Women</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'men' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/men}">Men</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'accessories' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/accessories}">Accessories</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'contact' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/contact}">Contact Us</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'about' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'login' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/login}">Account</a>
                </li>
                <li class="nav-item">
                    <i class="fal fa-search"></i>
                    <i class="fal fa-shopping-bag"></i>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="CartContainer">
    <div class="Header">
        <h3 class="Heading">Shopping Cart</h3>
        <a th:href="@{'cart/clear'}" class="Action">Remove all</a>
    </div>
    <form method="post" th:action="${'/cart/update'}">

        <div class="Cart-Items" th:each="item:${session.cart}">
            <div class="image-box">
                <img th:src="${item.getClothesEntity().getClothesImg()}" style="height:120px"/>
            </div>
            <div class="about">
                <h1 class="title" th:text="${item.getClothesEntity().getClothesName()}"></h1>
            </div>


            <input type="number" id="quantity" name="quantity" min="1" value="1" style="width: 50px;"
                   th:value="${item.getQuantity()}">
            <input type="submit" value="OK" style="background-color:wheat "/>


            <div class="prices">
                <div class="amount" th:text="${item.getClothesEntity().getClothesPrice()}"></div>
                <!-- <div class="save"><u>Save for later</u></div> -->
                <a class="remove" th:href="${'cart/remove/'+ item.getClothesEntity().getId()}"><u>Remove</u></a>

            </div>
        </div>
    </form>


    <hr>
    <div class="checkout">
        <div class="total" th:each="item : ${session.cart}">
            <div>
                <div class="Subtotal">Sub-Total</div>
                <!--                <div class="items" th:text="${item.getQuantity()}" ></div>-->
            </div>
            <div class="total-amount"
                 th:text="${item.getClothesEntity().getClothesPrice() * item.getQuantity()}"></div>
        </div>


        <div class="Subtotal">Total
            <div id="total" th:text="${total}"></div>

            <button class="button"><a style=" text-decoration: none;font-size:23px; color:  #5b2a02;font-weight: 900"
                                      id="check">Confirm cart</a></button>

            <!--            <a class="button" th:href="${'cart/checkout/'}">Checkout</a>-->
        </div>

    </div>

    <script>
        document.getElementById("check").onclick = function () {
            myFunction()
        };

        function myFunction() {
            alert("Your orders have been sent!");
        }
    </script>
</body>

</html>