<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Contact Us</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/contactUs.css}"/>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" href="MyPage.images/logo.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fixed-top">
    <div class="container-fluid">
        <h2 class="logo">crépuscule</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i id="bar" class="fas fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/mypage}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/women}">Women</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/men}">Men</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/accessories}">Accessories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Account</a>
                </li>
                <li class="nav-item">
                    <i class="fal fa-search"></i>
                    <i class="fal fa-shopping-bag"></i>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-contact100 my-5 pt-5">
    <div class="wrap-contact100 mt-3">
        <div class="contact100-form validate-form">
				<span class="contact100-form-title">
					Send Us A Message
				</span>

            <label class="label-input100" for="first-name">Tell us your name *</label>
            <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
                <input id="first-name" class="input100" type="text" name="first-name" placeholder="First name">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
                <input id='last-name' class="input100" type="text" name="last-name" placeholder="Last name">
                <span class="focus-input100"></span>
            </div>

            <label class="label-input100" for="email">Enter your email *</label>
            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <input id="email" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
                <span class="focus-input100"></span>
            </div>

            <label class="label-input100" for="phone">Enter phone number</label>
            <div class="wrap-input100">
                <input id="phone" class="input100" type="text" name="phone" placeholder="Eg. +994 00 000 00 00">
                <span class="focus-input100"></span>
            </div>

            <label class="label-input100" for="message">Message *</label>
            <div class="wrap-input100 validate-input" data-validate="Message is required">
                <textarea id="message" class="input100" name="message" placeholder="Write us a message"></textarea>
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn" id="contactButton">
                <button class="contact100-form-btn">
                    Send Message
                </button>
            </div>
        </div>

        <div class="contact100-more flex-col-c-m"
             th:style="'background:url(img/reveal1.jpg);background-repeat: no-repeat, repeat; background-size: cover;'">


            <script src="js/contact.js"></script>


            <script>
                // alert("helloooo")
                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments);
                }

                gtag('js', new Date());

                gtag('config', 'UA-23581568-13');

                $(document).ready(function () {
                    $('#contactButton').click(function () {
                        let firstName = $('#first-name').val()
                        let lastName = $('#last-name').val()
                        let email = $('#email').val()
                        let phone = $('#phone').val()
                        let message = $('#message').val()

                        var data = {}
                        data.lastName = lastName
                        data.firstName = firstName
                        data.email = email
                        data.phone = phone
                        data.message = message

                        console.log(data)
                        $.ajax(
                            {
                                url: '/contact/',
                                type: 'POST', // http method
                                data: JSON.stringify(data),  // data to submit
                                dataType: 'json',
                                contentType: "application/json"

                            });
                        alert("Your message was sent!");
                    });

                })

            </script>

</body>
</html>