<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">-->

<!--<head>-->
<!--    <title>Crepuscule Home Page</title>-->
<!--</head>-->


<!--<style>-->
<!--    .container {-->
<!--        margin: 20px;-->
<!--    }-->

<!--    h2 {-->
<!--        margin-left: 35%;-->
<!--    }-->
<!--</style>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h2>Crepuscule Home Page</h2>-->
<!--    <hr>-->

<!--    <p>-->
<!--        Welcome to the Crepuscule home page!-->
<!--    </p>-->

<!--    &lt;!&ndash;    <hr>&ndash;&gt;-->
<!--    <div sec:authorize access="hasRole('ROLE_ADMIN')">-->

<!--        <p>-->
<!--            <a th:href="@{/admin}">Admin Page</a>-->
<!--            (Only for Admin)-->

<!--        </p>-->

<!--    </div>-->

<!--&lt;!&ndash;    <div sec:authorize access="hasRole('ROLE_USER')">&ndash;&gt;-->

<!--&lt;!&ndash;        <p>&ndash;&gt;-->
<!--&lt;!&ndash;            <a th:href="@{/cart}">Cart</a>&ndash;&gt;-->
<!--&lt;!&ndash;            (Only for user)&ndash;&gt;-->

<!--&lt;!&ndash;        </p>&ndash;&gt;-->

<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--    <div sec:authorize access="hasRole('ROLE_USER') and hasRole('ROLE_ADMIN')">-->

<!--        <p>-->
<!--            <a th:href="@{/welcome}">Welcome page</a>-->
<!--            (For Admin and users)-->
<!--        </p>-->

<!--    </div>-->

<!--    <hr>-->

<!--    &lt;!&ndash; Add a logout button &ndash;&gt;-->
<!--    <form th:action="@{/logout}"-->
<!--          method="POST">-->

<!--        <input class="logout" type="submit" value="Logout"/>-->

<!--    </form>-->
<!--</div>-->
<!--</body>-->

<!--</html>-->









