<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome</h1>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Price</td>
        <td>Description</td>
        <td>material</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pr:${product}">
        <td th:text="${pr.id}">Id</td>
        <td th:text="${pr.name}">Name</td>
        <td th:text="${pr.price}">Price</td>
        <td th:text="${pr.description}">Description</td>
        <td th:text="${pr.getDetails()}">Material</td>


        <!--        <td th:text="${product.description}">Description</td>-->

    </tr>
    </tbody>
</table>
</body>
</html>