<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  <link rel="stylesheet" href="css/product.css" />-->
    <link th:href="@{/css/product.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/mpm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+@EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fixed-top">
    <div class="container-fluid">
        <h2 class="logo">crépuscule</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i id="bar" class="fas fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:classappend="${module == 'MyPage' ? 'active' : ''}">
                    <a class="nav-link " th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'women' ? 'active' : ''}">
                    <a class="nav-link " th:href="@{/women}">Women</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'men' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/men}">Men</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'accessories' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/accessories}">Accessories</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'contact' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/contact}">Contact Us</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'about' ? 'active' : ''}">
                    <a class="nav-link " th:href="@{/about}">About</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'login' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/login}">Account</a>
                </li>
                <li class="nav-item">
                    <i class="fal fa-search"></i>
                    <i class="fal fa-shopping-bag"></i>
                </li>
            </ul>

        </div>
    </div>
</nav>


<section class="container sproduct my-5 pt-5">
    <div class="row mt-5">
        <div class="col-lg-5 col-md-12 col-12">
            <img id="MainImg" class="img-fluid w-100 pb-1" th:src="${product.getClothesImg()}" alt="image">
        </div>

        <div class="col-lg-6 col-md-12 col-12">

            <h3 class="py-4" th:text="${product.getClothesName()}"/>
            <h2 class="p-price" th:text="${product.getClothesPrice()}"/>
            <select class="my-3">
                <option>Select Size</option>
                <option>XL</option>
                <option>Large</option>
                <option>Medium</option>
                <option>Small</option>
            </select>
            <input type="number" id="quantity" name="quantity" min="0" value="1">

            <a th:href="${'/cart/buy/'+ product.getId()}">
                <button class="btn btn-dark">Add To Cart</button>
            </a>

            <h4 class="mt-5 mb-5">Product Details</h4>
            <span th:text="${product.getDescription()}"/>


        </div>
    </div>
</section>


<!--Similar product-->
<section id="best" class="my-5 pb-5">
    <div class="container text-center mt-5 py-5">
<!--        <h3>Similar Product</h3>-->
    </div>
    <div class="row mx-auto container-fluid">
        <div class="product text-center col-lg-3 col-md-4 col-12" th:each="params : ${products}"
             th:if="${params.getClothesCategory()} == ${product.getCategory}">
            <a style="text-decoration:none;color: #0f0700"
               th:href="${'/product/'+params.getId() + '/type/' + params.getClothesCategory()}">
                <img class="img-fluid mb-3" th:src="${params.getClothesImg()}" width="250">
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <h5 class="p-name" th:text="${params.getClothesName()}"/>
                <h4 class="p-price" th:text="${params.getClothesPrice()}"/>
                <button class="btn btn-dark">Buy Now</button>
            </a>
        </div>
    </div>
</section>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h4>About us</h4>
                <p>We were established to provide a perfect e-commerce experience to our customers and vendors.
                    We support women's participation in the digital economy, domestic production and producers.
                    Thus, we make a significant contribution to the growth of the country's economy and increase
                    employment.</p>
            </div>
            <div class="footer-col-2">
                <h4>Contact us </h4>
                <div>
                    <div class="place">
                        <span class="fas fa-map-marker-alt"></span>
                        <span class="text">Azerbaijan Baku</span>
                    </div>
                    <div class="phone">
                        <span class="fas fa-phone"></span>
                        <span class="text">+994 00 000 00 00</span>
                    </div>
                    <div class="email">
                        <span class="fas fa-envelope"></span>
                        <span class="text">crepuscule@gmail.com</span>
                    </div>
                </div>
            </div>
            <div class="footer-col-3">
                <h4>Follow us</h4>
                <div class="sosial">
                    <h5><i class="fab fa-facebook-f"> crepuscule</i></h5>
                    <h5><i class="fab fa-instagram"> crepuscule</i></h5>
                    <h5><i class="fab fa-twitter">_crepuscule</i></h5>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>