<!DOCTYPE html>
<html>

<head>
  <title>Crépuscule-women</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/women.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fixed-top">
    <div class="container-fluid">
      <h2 class="logo">crépuscule</h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><i id="bar" class="fas fa-bars"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5502/MyPage.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5502/men.html">Men</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5502/accessories.html">Accessories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5502/logIn.html">Account</a>
          </li>
          <li class="nav-item">
            <i class="fal fa-search"></i>
            <i class="fal fa-shopping-bag"></i>
          </li>
      </div>
    </div>
  </nav>
  <section id="home">
    <div class="container">
      <h1><span>Better days are coming,<br>take them on in style. </span></h1>
      <!-- <button>Shop Now</button> -->
    </div>
  </section>
  <!-- <section id="trinity">
    <div class="img1 image">
      <img src="MyPage.images/img2.jpg" width="300" height="400">
    </div>
    <div class="img2 image">
      <img src="MyPage.images/img3.jpg" width="300" height="400">
    </div>
    <div class="img3 image">
      <img src="MyPage.images/img5.jpg" width="300" height="400">
    </div>
  </section> -->
  

  <!-- <section id="best" class="my-5 pb-5">
    <div class="container text-center mt-5 py-5">
      <h3>Best Selling</h3>
    </div>
    <div class="row mx-auto container-fluid">
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="MyPage.images/4_org_zoom.jpg" width="250">
        <div class="star">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
        <h5 class="p-name">T-Shirt-Brown-Oversize</h5>
        <h4 class="p-price">29.99</h4>
        <button class="btn btn-dark">Buy Now</button>
      </div>
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="MyPage.images/tr4.jpg" width="250">
        <div class="star">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
        <h5 class="p-name">Sweatshirt-Black-Regular</h5>
        <h4 class="p-price">30</h4>
        <button class="btn btn-dark">Buy Now</button>
      </div>
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="MyPage.images/tr2.jpg" width="250">
        <div class="star">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
        <h5 class="p-name">T-Shirt-White-Oversize</h5>
        <h4 class="p-price">69.95</h4>
        <button class="btn btn-dark">Buy Now</button>
      </div>
      </div>
</section> -->

<div class="small-container">
  <div class="row row-2">
    <h2>All Products</h2>
    <select>
      <option>Collection</option>
      <option>Women's Skirt</option>
      <option>Women's Pants</option>
      <option>Women's Blouse</option>
      <option>Women's Shirt</option>

    </select>
  </div>
</div>


<section id="best" class="my-5 pb-5">
  <!-- <div class="container text-center mt-5 py-5">
    <h3>Best Selling</h3>
  </div> -->
  <div class="row mx-auto container-fluid">
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="MyPage.images/womenproduct1.jpg" width="250">
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <h5 class="p-name">T-Shirt-Brown-Oversize</h5>
      <h4 class="p-price">29.99</h4>
      <button class="btn btn-dark">Buy Now</button>
    </div>
     <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="MyPage.images/womenproduct2.jpg" width="250">
        <div class="star">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
        <h5 class="p-name">Jeans-Black-Slim Fit</h5>
        <h4 class="p-price">75</h4>
        <button class="btn btn-dark">Buy Now</button>
      </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="MyPage.images/womenproduct3.jpg" width="250">
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <h5 class="p-name">Sweatshirt-Black-Regular</h5>
      <h4 class="p-price">30</h4>
      <button class="btn btn-dark">Buy Now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="MyPage.images/womenproduct4.jpg" width="250">
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <h5 class="p-name">T-Shirt-White-Oversize</h5>
      <h4 class="p-price">69.95</h4>
      <button class="btn btn-dark">Buy Now</button>
    </div>

    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="MyPage.images/womenproduct5.jpg" width="250">
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <h5 class="p-name">T-Shirt-White-Oversize</h5>
      <h4 class="p-price">69.95</h4>
      <button class="btn btn-dark">Buy Now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="MyPage.images/womenproduct6.jpg" width="250">
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <h5 class="p-name">T-Shirt-White-Oversize</h5>
      <h4 class="p-price">69.95</h4>
      <button class="btn btn-dark">Buy Now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="MyPage.images/womenproduct7.jpg" width="250">
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <h5 class="p-name">T-Shirt-White-Oversize</h5>
      <h4 class="p-price">69.95</h4>
      <button class="btn btn-dark">Buy Now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="MyPage.images/womenproduct8.jpg" width="250">
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <h5 class="p-name">T-Shirt-White-Oversize</h5>
      <h4 class="p-price">69.95</h4>
      <button class="btn btn-dark">Buy Now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="MyPage.images/womenproduct9.jpg" width="250">
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <h5 class="p-name">T-Shirt-White-Oversize</h5>
      <h4 class="p-price">69.95</h4>
      <button class="btn btn-dark">Buy Now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="MyPage.images/womenproduct10.jpg" width="250">
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <h5 class="p-name">T-Shirt-White-Oversize</h5>
      <h4 class="p-price">69.95</h4>
      <button class="btn btn-dark">Buy Now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="MyPage.images/womenproduct11.jpg" width="250">
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <h5 class="p-name">T-Shirt-White-Oversize</h5>
      <h4 class="p-price">69.95</h4>
      <button class="btn btn-dark">Buy Now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="MyPage.images/womenproduct12.jpg" width="250">
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <h5 class="p-name">T-Shirt-White-Oversize</h5>
      <h4 class="p-price">69.95</h4>
      <button class="btn btn-dark">Buy Now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="MyPage.images/womenproduct13.jpg" width="250">
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <h5 class="p-name">T-Shirt-White-Oversize</h5>
      <h4 class="p-price">69.95</h4>
      <button class="btn btn-dark">Buy Now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="MyPage.images/womenproduct14.jpg" width="250">
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <h5 class="p-name">T-Shirt-White-Oversize</h5>
      <h4 class="p-price">69.95</h4>
      <button class="btn btn-dark">Buy Now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="MyPage.images/womenproduct15.jpg" width="250">
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <h5 class="p-name">T-Shirt-White-Oversize</h5>
      <h4 class="p-price">69.95</h4>
      <button class="btn btn-dark">Buy Now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="MyPage.images/womenproduct16.jpg" width="250">
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <h5 class="p-name">T-Shirt-White-Oversize</h5>
      <h4 class="p-price">69.95</h4>
      <button class="btn btn-dark">Buy Now</button>
    </div>
    </div>
</section>
  
<section id="banner" class="my-5 py-5">
  <div class="container">
    <h1>GET 15% OFF AND ENJOY SALES PERKS ON YOUR FIRST ORDER.</h1>
    
  </div>
</section>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h4>About us</h4>
        <p>We were established to provide a perfect e-commerce experience to our customers and vendors.
          We support women's participation in the digital economy, domestic production and producers.
          Thus, we make a significant contribution to the growth of the country's economy and increase employment.</p>
      </div>
      <div class="footer-col-2">
        <h4>Contact us </h4>
        <div>
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">Azerbaijan Baku</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone"></span>
            <span class="text">+994 00 000 00 00</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">crepuscule@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="footer-col-3">
        <h4>Follow us</h4>
        <div class="sosial">
          <h5><i class="fab fa-facebook-f"> crepuscule</i></h5>
          <h5><i class="fab fa-instagram"> crepuscule</i></h5>
          <h5><i class="fab fa-twitter">_crepuscule</i></h5>

        </div>
      </div>


    </div>
  </div>
</div>
</body>
</html>